<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <i class="code icon"></i> Blog App
            </a>
            <a href="/" class="ui animated button item">
                <div class="visible content">Home</div>
                <div class="hidden content"><i class="home icon"></i></div>
            </a>
            <a href="/blogs/new" class="ui animated button item">
                <div class="visible content">New Post</div>
                <div class="hidden content"><i class="pencil alternate icon"></i></div>
            </a>
            <div class="right menu">
                <%if(!currentUser){ %>
                <a href="/register" class="ui animated button item">
                <div class="visible content">SignUp</div>
                <div class="hidden content"><i class="sign-in alternate icon" ></i></div>
                </a>
                <a href="/login" class="ui animated button item">
                    <div class="visible content">Login</div>
                </a>
                <%} else { %>
                    <div class="item">
                        <a><%= currentUser.username %></a>
                    </div>
                <a href="/logout" class="ui animated button item">
                    <div class="visible content">Logout</div>
                <div class="hidden content"><i class="sign-out alternate icon" ></i></div>
                </a>
                <% } %>
            </div>
        </div>
    </div> 
    <div class="ui container">
            <% if(error && error.length> 0){ %>
        <div class="ui negative message">
          <%= error %>
        </div>
           <% } %>
           <% if(success && success.length> 0){ %>
        <div class="ui success message">
         <%= success %>
       </div>
       <% } %>
       </div> 